opentelemetry.api
opentelemetry.sdk>=1.27.0
opentelemetry.exporter.otlp.proto.grpc
opentelemetry.exporter.otlp.proto.http
opentelemetry.instrumentation.logging
pyrfc3339
# ghapi 2.x is async-by-default and breaks our sync API calls
ghapi<2
fastcore<2
requests
python-dateutil
